<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="launchpad-internal.log"
      internalLogLevel="Info" >

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="target1"
                fileName="launchpad.utilities.log"
                layout="${date} | ${logger:shortName=True} | ${level:uppercase=true} | ${message} ${exception}|${all-event-properties}" />
        <target xsi:type="ColoredConsole"
                name="target2"
                layout="${date} | ${logger:shortName=True} | ${level:uppercase=true} | ${message} ${exception}|${all-event-properties}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="target1,target2" />
    </rules>
</nlog>