[Desktop Entry]
Name=Launchpad
Comment=An open-source game launcher.
Exec=/usr/bin/launchpad
Icon=/usr/share/pixmaps/launchpad_icon.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Game
